header{
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.intro {
     font-family: 'Times New Roman', Times, serif;
}

li{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;
}
