body {
    font-family: "Times New Roman", Times, serif;
    margin-left: 10px;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 15px;
}

form {
    font-family: "Times New Roman", Times, serif;
}

input, select, textarea, button {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 10px;
}

p {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 8px;
    margin-top: 15px;
}

label {
    font-family: "Times New Roman", Times, serif;
    margin-right: 15px;
}

textarea {
    margin-bottom: 15px;
}